html {
	margin-top: 50px;
}

body {
	background-color: black;
	font-family: "IBM Plex Serif", "Liberation Serif", "FreeSerif", serif;
	color: #ccc;
}
#lost {
	background-color: #E87D22;
	font-family: "IBM Plex Serif", "Liberation Serif", "FreeSerif", serif;
	color: #762A0C;
	text-align: center;
}

.rose { 
	color: #E397C9;
}
.kanaya {
	color: #008141;
}
.karkat {
	color: #626262;
}
.nathan { 
	color: #76c489;
}
.noah {
	color: #eb9952;
}
.kidtz {
	color: #43e8e8;
}
.alice {
	color: #8ed93f;
}
.kevin {
	color: #bc5620;
}
.cecil {
	color: #68558c;
}
.unknown {
	color: #aaaaaa;
}
header {
	font-size: 108pt;
	font-weight: bold;
	text-align: center;
	line-height: 0.6;
}

#mainheader {
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	background-color: black;
	padding: 20px 0px 0px 0px;
	font-size: 90px;
	transition: 0.4s;
}

header a {
	text-decoration: none;
}

header a:hover {
	text-decoration: none;
}

main {
	width: 80%;
	margin: auto;
	padding-top: 80px;
}


footer {
	width: 80%;
	margin: auto;
}

img {
	width: 30%;
	padding: 0;
	display: block;
}

img.middle {
	vertical-align: middle;
}

h1 {
	font-family: "Aileron Heavy", "Liberation Sans", "FreeSans", sans;
	font-size: 52pt;
	text-align: center;
	color: white;
	margin-top: 20px;
}

h2 {
	font-family: "Aileron Heavy", "Liberation Sans", "FreeSans", sans;
	font-size: 28pt;
	text-align: center;
	color: white;
	margin-bottom: 5px;
}

h2 a {
	text-decoration: none;
	color: white;
}

h2 a:hover {
	color: #B5D1B1;
}

h3 {
	font-family: "Aileron Heavy", "Liberation Sans", "FreeSans", sans;
	font-size: 22pt;
	text-align: center;
	color: white;
	margin-bottom: 25px;
}

h3 a {
	text-decoration: none;
	color: white;
}

h3 a:hover {
	color: #dba36a;
}

p {
	font-size: 16pt;
	text-align: left;
	hyphens: auto;
	line-height: 1.5;
	text-indent: 32pt;
}

p a:hover {
	text-decoration: none;
}

a {
	color: white;
}
#currentLink {
	color: #F70;
 }
a:hover {
	text-decoration: underline;
	color: #dba36a;
}

table {
	width: 100%;
	font-size: 14pt;
    text-align: center;
    border-collapse: collapse;

}


td {
    padding: 10px 3px;
}
#nopadding {
	padding: 0 !important;
}
th {
	font-family: "Aileron Heavy", "Liberation Sans", "FreeSans", sans;

    padding: 12px;
    text-align: center;
    background-color: #1b1b1b;
    border-top: 2px solid #1b1b1b;
    border-bottom: 12px solid #F70;
    border-left: 2px solid #1b1b1b;
    border-right: 2px solid #1b1b1b;
    color: white;
}

#pluralkit th {
	padding: 6px;
	border-bottom: 6px solid #F70;
	text-align: left;
}
#pluralkit td {
	text-align: left;
	width: 33%;
}
tr:nth-child(even){background-color: #0c0c0c;}
tr:nth-child(odd){background-color: #080808;}

progress {
	display:inline-block;
	width: 140px;
	height:20px;
	margin:-25px, 0px, 20px, 0px;
	background:none;
	border: 0;
	border-radius: 15px;
	text-align: center;
    position: relative;
}
progress::-webkit-progress-bar {
	height:11px;
	width:auto;
	margin:-25px, 0px, 20px, 0px;
	background-color: #222222;
	border-radius: 15px;    
}
progress::-webkit-progress-value {
	height:11px;
	margin:-25px, 0px, 20px, 0px;
	background: #F70;
	border-radius: 15px;
}

progress:after {
	margin:10px;
	padding:0;
	content: attr(value) '%';
}
time {
	color: #ccc;
}

summary {
	font-family: "Aileron Heavy", "Liberation Sans", "FreeSans", sans;
	font-weight: bold;
	color: white;
	cursor: pointer;
	width: 240px;
	height: 50px;
	text-align: center;
	margin: auto;
	margin-top: 30px;
}

.bigcenter {
	text-align: center;
	font-size: 34pt;
}

.preview {
	float: left;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	text-align: center;
}

#lost img {

	margin-left: auto;
	margin-right: auto;
}

.hangover-subheader {
	font-weight: normal;
	margin-top: -20px;
	text-align: center;
}

.date {
	text-align: center;
	font-size: 32pt;
	margin-top: -35px;
}

#subheader {
	font-size: 12px;
	margin: -16px;
	text-align: center;
	font-weight: normal;
}

#synopsis {
	margin-top: 18pt;
	font-size: 27pt;
	cursor: auto;
}

#synopsis p {
	line-height: 1.25;
}

#floatleft {
	float: left;
}

#floatright {
	float:right;
}
#pluralkit-container {
	text-align: center;

}
#pluralkit {
	display: inline-block;
	width: auto;	
	padding: 10px;
	padding-left: 25%;
	padding-right: 25%;
	table-layout: fixed;
}
#pluralkit dl { 
	text-align: left;
}

#navigation li { 
	display: inline-block; 
	text-align: center;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 0px 20px;
	text-decoration: none;
  }

#navigation, .navigation {
	font-family: "Aileron Heavy", "Liberation Sans", "FreeSans", sans;
	font-size: 24px;
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

#navigation a:hover {
	text-decoration: none;
	color: #dba36a;
}


b, strong {
	color: white;
}


hr {
	border-top: 1px solid white;
}

#lost hr {
	border: 1px solid #762A0C;
}

footer {
	line-height: 2.4pt;
	margin-bottom: 50px;
	margin-top: 30px;
}

footer p {
	text-align: center;
	font-size: 12pt;
	margin-bottom: 30px;
	margin-left: -42px;
}

footer img {
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: crisp-edges;
}


::-moz-selection {
	color: black;
	background: #B5D1B1;
}

::selection {
	color: black;
	background: #B5D1B1;
}

/* Web font buggery ahead.
There are no local font declarations
because nobody has IBM Plex installed
you weirdo. */

/* Serif fonts */

@font-face {
	font-family: "IBM Plex Serif";
	font-style: normal;
	src: url(../fonts/IBMPlexSerif-Regular.woff2) format("woff2");
}

@font-face {
	font-family: "IBM Plex Serif";
	font-weight: bold;
	src: url(../fonts/IBMPlexSerif-Bold.woff2) format("woff2");
}
@font-face {
	font-family: "IBM Plex Serif";
	font-style: italic;
	src: url(../fonts/IBMPlexSerif-Italic.woff2) format("woff2");
}
@font-face {
	font-family: "IBM Plex Serif";
	font-style: italic;
	font-weight: bold;
	src: url(../fonts/IBMPlexSerif-BoldItalic.woff2) format("woff2");
}

/* Sans fonts */

@font-face {
	font-family: "Aileron Heavy";
	font-style: normal;
	src: url(../fonts/Aileron-Heavy.woff2) format("woff2");
}

@font-face {
	font-family: "IBM Plex Sans";
	font-style: normal;
	src: url(../fonts/IBMPlexSans-Regular.woff2) format("woff2");
}

@font-face {
	font-family: "IBM Plex Sans";
	font-weight: bold;
	src: url(../fonts/IBMPlexSans-Bold.woff2) format("woff2");
}
@font-face {
	font-family: "IBM Plex Sans";
	font-style: italic;
	src: url(../fonts/IBMPlexSans-Italic.woff2) format("woff2");
}
@font-face {
	font-family: "IBM Plex Sans";
	font-style: italic;
	font-weight: bold;
	src: url(../fonts/IBMPlexSans-BoldItalic.woff2) format("woff2");
}